#collapseFour {
    display: auto;
}
#collapseFive {
    display: auto;
}
.red_div {
    background-color: red;
    color: white;
}
.blue_div{
    background-color: blue;
    color: grey;
}
.grey_div{
    background-color: grey;
    color: black;
}